*{
  box-sizing: border-box;
}
/* ====== GRID Area ====== */
/* dálkar í header */
.logo {
grid-area: logo; 
}
.topdiv {
grid-area: topdiv;
}
.umtxt {
  grid-area: umtxt;
}
.umfig {
  grid-area: umfig;
}
/* =====================================
  GRID Template Areas 
 ======================================= */
header {
display: grid;
grid-gap: 0; /* bil á milli dálka */
grid-template-areas:
  "logo"
  "topdiv";
}
/* =======================================
    base 
 ========================================= */
html {
scroll-behavior: smooth;
}
body {
font-family: 'Open Sans', sans-serif;
background:none;
color: #333;
font: 400 1em/1.5 "Open Sans", sans-serif;
margin: 0;
padding: 1em;
}

.beigebg { 
background: linear-gradient(to top, rgba(247,211,126, 0.8), rgba(255,255,255, 0.5));
}

.copy{
display:grid;
justify-items: center;
grid-template-rows: 1fr 1fr;
margin: 1em auto 3em auto;
max-width: 60em;
}
.copy p{
margin: .35em;
}
.large-img picture{
width:auto;
height: auto;
padding: 1em 0 1em 0;
grid-template-columns: 1fr 1fr 1fr
}
/* STANDARD */
img {
max-width: 100%;
height: auto;
}
.logo:hover,
.logo:active {
color: #fff;
border-radius: 10%;
}
/*========================================
Link - to the top
========================================*/
.btop {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: block;
  border-radius: 10%;
  padding: 0 .4em;
  font-size: 2em;
  color: hsl(9, 61%, 45%);
  background: linear-gradient(to top, rgba(247,211,126, 0.8), rgba(255,255,255, 0.5));
}
.btop:hover,
.btop:active {
  background: rgba(247,211,126, 0.5);
  color: #fff;
  border-radius: 10%;
}
/* ===============================
    Container-Columns 
   ==================================*/
.container {
  margin: 0 auto;
  width: 60em;  
  padding:0;
  border: 0px solid;
}
.col-3{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.col-m-3{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr

}
.h-col-2 {
  display: grid;
  border-top: 1.35px solid;
  grid-gap: 2em;
}
.col-2{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.um-col-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "umfig"
  "umtxt";
}
.logo, .mh-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0;
}
.iframe-col-2 {
  display: grid;
  grid-gap: 2em;
  }
/*===================================
    Header icon AND Header title
  ===================================*/      
.logo {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 1em;
  justify-items: center;
  margin-top: 1em; 
  margin-bottom: 1.4em;
  
}
.logo h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0.5em 2.5em 0 0;
  line-height: .85;
  color: hsl(9, 61%, 45%);
  
}
.logo img{
  width: 5em;
  margin:1em -2em 0 0;
}
/*===================================
    Header Row / Header Columns
  ===================================*/
.topnav {
  display: flex;  
  width: auto;
  padding: 0em 8em 0em 8em; 
  grid-gap: 0;  
}
.topnav ul:first-child{
  border-left: 1px solid;
}
/*======================================
    Main Nav
========================================*/
.topnav a{
  border-color: black;
  padding: 0 1em 0 1em; 
  font-size: 0.93em;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #7e5e22;
}
figure {
  grid-auto-rows: 1fr 1fr
  
}
figcaption {
  font-size: .9em;
  font-style: italic;
  font-style:bold;
  text-align: center;
} 
/*================Guide=================*/
.topnav ul{ 
  display: flex;
  flex-flow: row;
  border-right: 1px solid;
  justify-content: center;
  list-style-type: none;
  font-size: 18px;
  padding-left: 1em;
  padding-right: 1em;
}
.topnav span{
  margin-top: 0.13em;
}

[class^="icon-"], [class*=" icon-"],
[class^="foot-"], [class*=" foot-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.foot-vsh-logo:before, 
.icon-vsh-logo:before {
content: "\e901";
}
.icon-home:before {
content: "\e900";
}
.icon-image:before {
content: "\e90d";
}
.icon-mobile:before {
content: "\e958";
}
.icon-heart:before {
content: "\e9da";
}
.icon-facebook2:before {
content: "\ea91";
}
.icon-github:before {
content: "\eab0";
}
.icon-android:before {
content: "\eac0";
}
.icon-soundcloud2:before {
content: "\eac4";
}
.icon-html-five:before {
content: "\eae4";
}
.foot-vsh-logo {
font-size: 1.2em;
}
audio {
width:500px;
}
/*=======================================
Adjustments-Pictures
=========================================*/
.umfig{
margin: 2em 1em 0 auto;
}
/*========================================
Lead - áherslutexti
========================================*/
.lead h1 {
  font-size: 1.4em;
  line-height: 1.6em;
  color: hsl(9, 61%, 45%);
  font-weight: 100;
  text-align: center;
}
.lead p {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: 4em;
  text-align: left;
}
/*========================================
Typography
======================================== */
h1, h2, 
h4 {
font-weight: 300;
color:hsl(9, 61%, 45%);
}
h3{
color: hsl(9, 61%, 45%);
text-align: center;
}
blockquote {
padding: .6em;
background-color: rgba(247,211,126, 0.4); /* = 60% transparent rgb a= alfa layer */
border-radius: .5em;
text-align: center;
margin: 0;
}
.large-img h2{
text-align: center;
}
/*========================================
Lists - links and navigation
========================================*/
dt {
  color: orange;
  border: 1px solid orange;
  border-width: 1px 0 0 0;
  margin-top: .3em;
}
dd a {
  display: block;
}
dd a:hover {
    color: orange;
}
.v-takn {
  list-style-image: url('img/takn.gif'); /* ath! slóðina */
  line-height: 1.8;
}
a {
  color: #0064CE;
  text-decoration: none;
  font-size: 1.1em;
}
a:hover {
  color: #0af;
}

header a,
footer a,
footer p {
  color: #0064CE;
  font-size: .95em
}
header a:hover,
footer a:hover {
  color: hsl(9, 61%, 45%);
}

/* ========================================
 icon fonts
 ======================================== */
 @font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ========================================
 Viðmið - 37.5 = 600px
 ======================================== */
 @media screen and (min-width: 37.5em) {
  .row {
    display: flex;
    flex-flow: row;
  }
  .row-wrap {
    display: flex;
    flex-flow:row wrap;
  }
  .mobile {
    display: none;
  }
  .um-col-2 {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-gap: 2em;
    grid-template-areas:
    "umtxt umfig";
  }
}
/* ========================================
 Viðmið 48em = 960px
 ======================================== */
 @media screen and (min-width: 48em) {
  body {
    padding: 0;
    background: #fff url("img/body-bg.png") -100px bottom fixed no-repeat;
  }
  .mh-col-2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
}
/*========================================
Viðmið 60em = 1080px
========================================*/
@media screen and (min-width: 60em) {
  .container {
    margin: 0 auto;
    width: 60em;  
    padding:0;
  }
  
  .tagline {
    display: block;
    margin: 1em 0 2em 0;
    text-align: right;
    color:#0064CE;
    font-weight: normal;
  }
  .lead p{
    text-align: center;
    max-width: 42em;
    margin: 0 auto;
  }
  /* iframe dálkur */
  .iframe-col-2 {
    display: grid;
    grid-gap: 2em;
    }
  .gluggi {
    width:700px; 
    height:394px; 
  }
  .logo {
    margin-top: 3em; 
  }
  .logo h1 {
    font-size: 3.92em;
  }
  .m-2em {
    margin-top: -6em;
    }
  }
