*{
    box-sizing: border-box;
}
/*grid area*/
header{
    grid-area: header;
}
.topnav{
    grid-area: topmenu;
}
.content{
    grid-area: content;
}
footer{
    grid-area: footer;
}
/* content*/
.content{
    display:grid;
}
.topmenu header h2{
    font-size: 60px; 
    border: 2px solid;
    padding: 1em;  
}
.links{
    text-align: center;
    padding:1em;
}
.a1 {
    grid-area: aside;
}
.a2 {
    grid-area: aside;
}
.art {
    grid-area:  aside;
}
.topm0 {
    margin-top: 2em;
}
.aside1{
    align-content: center;
    border: 1px solid;
    padding:2em;
}
.aside2{
    align-content: center;
    border: 1px solid;
    padding:2em;
}
.article{
    align-content: center;
    border: 1px solid;
    padding: 1em;
}
/*grid template*/
body { 
    display:grid;
    grid-gap: 0;
    grid-template-areas:
        "topnav"
        "header"
        "content"
        "footer";
    max-width: auto;
    max-height: auto;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2em; 
}

.content{
    display:grid;
    grid-gap: 1em;
    grid-template-areas: 
        "aside1 article aside2";
    grid-template-columns: 1fr 3fr 1fr;

}
.main-content{
    align-content: center;
}
.topmenu, footer{
    display:flex;
    flex-flow: row;         
    justify-content: space-around;
    list-style-type: none;
    border: 1px solid black;
    font-size: 25px;
}
.topmenu li {
    padding: .5em;  
    display: grid;
    grid-template-columns: 1fr;
}
.nav {
    display:grid;
    grid-gap: 1em;
    grid-template-areas: 
        "aside1 article aside2";
    grid-template-columns: 1fr 3fr 1fr;
}
.main-content {
    display:grid;
    grid-gap: 0;
    grid-template-areas:
        "vinstri midja haegri";
    grid-template-columns: 1fr 2fr 1fr;
}
